
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>示例1</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="../stylesheets/style.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">主页</a></li>
            <li class="active"><a href="/example/example1">示例1</a></li>
            <li><a href="/example/example2">示例2</a></li>
            <li><a href="/example/example3">示例3</a></li>
            <li><a href="/example/example4">示例4</a></li>
            <li><a href="#contact">演示66666666666666</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <img src="../images/bg.png" width="100%" alt="" >
            <div class="container" style="position:absolute;top:40%;left:10%">
                <div class="row" >
                    <h1 style="color:#1c1c1c">Hello world</h1>
                </div>
                <div class="row" style="color:azure">
                    <h2>for new creators</h2>
                    <h2>and great ideas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <hr class="featurette-divider">
                
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">黄轩 <span class="text-muted"><a href="https://baike.baidu.com/item/黄轩/30471?fr=aladdin">了解更多</a></span></h2>
                        <p class="lead">黄轩，1985年3月3日出生于甘肃省兰州市，华语影视男演员，毕业于北京舞蹈学院音乐剧系。2007年，在剧情电影《地下的天空》中饰演男主角丁井生，从而正式进入演艺圈。2008年，在古装情感剧《红楼梦》中饰演薛蝌。2009年，出演爱情电影《无人驾驶》。2011年，主演谍战剧《黎明前的暗战》。2012年，在惊悚悬疑电影《青魇》中饰演男主角郝冬。2013年，在剧情电影《黄金时代》中饰演骆宾基。2014年，主演剧情电影《推拿》；同年，凭借年代剧《红高粱》获得“国剧盛典”年度飞跃男演员奖。</p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" src="../images/huangxuan.jpg" alt="Generic placeholder image">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" src="../images/xiaoen.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="col-md-7">
                        <h2 class="featurette-heading">肖恩·奥普瑞<span class="text-muted"><a href="https://baike.baidu.com/item/肖恩·奥普瑞/6335250?fr=aladdin">了解更多</a></span></h2>
                        <p class="lead">肖恩·奥普瑞，1989年7月5日出生于美国，当今最火的男超模之一，拥有迷人的犹如雕塑般的面孔。据说他有印第安和爱尔兰的血统。
                                肖恩·奥普瑞 (Sean Opry) 是注定成为T台传奇的当红男模。1989年7月5日出生的肖恩·奥普瑞 (Sean Opry)，家乡美国佐治亚州Kennesaw，身高186cm。17岁出道，肖恩·奥普瑞 (Sean Opry) 刚出道即光速爆红，现在是 CK 的最新代言人。</p>
                    </div>

                </div>

            </div>
        </div>
        
            
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </body>
</html>
